@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #7E57C2;
  --color-secondary: #3B82F6;
  --color-tertiary: #FF9500;
  --color-dark: #2D2D2D;
  --color-background: #F2F5F9;
  --color-SecondaryBackground: #FFFFFD;
}

svg {
  display: inline-block;
}
